:root {
  --box-shadow: 0 16px 32px 0 rgba(0,31,109,0.08);
  --radius: 4px;
  --border: 1px solid;
  --global-color: 63, 81, 181;
  --footerBg: #eee;
}

* {
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;
}

@media only screen and (max-width: 600px) {
  body {
    margin-top: 10% !important;
  }
  .user {
    text-align: center !important;
    flex-wrap: wrap !important;
    padding-right: 0px !important;
  }
}

h1, h2, h3, h4, h5 {
  color: #222;
}

body {
  margin-top: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form > div, button {
  margin: 10px 10px !important;
}
.register {
  min-width: 0 !important;
}
.user {
  top: 0;
}
.user, .footer {
  background-color: var(--footerBg);
  width: 100%;
  position: absolute;
  right: 0;
  padding: 5px;
  padding-right: 20px;
  text-align: right;
  font-size: 14px;
}
.error {
  margin-top: 30px;
  background-color: #ffebf2;
  padding: 20px;
  border-radius: 4px;
  animation-name: error;
  animation-duration: .5s;
  transition: ease-in-out;
}
@keyframes error {
  0% { transform: translateX(0px)}
  25% { transform: translateX(-30px)}
  50% { transform: translateX(30px)}
  100% { transform: translateX(0px)}
}
.footer {
  text-align: center;
  bottom: 0
}
.user-content {
  justify-content: center;
  align-content: center;
}

p {
  line-height: 0px
}

.MuiSnackbarContent-root {
  background-color: green !important
}