:root {
  --box-shadow: 0 16px 32px 0 rgba(0,31,109,0.08);
  --radius: 6px;
  --border: 1px solid;
  --global-color: 63, 81, 181;
}

* {
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;
}

h1, h2, h3, h4, h5 {
  color: #222;
}

body {
  margin-top: 5%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

form > div, button {
  margin: 10px 10px !important;
  min-width: 150px !important;
}

.MuiFormControl-root {
  min-width: 220px !important;
}

.status-idle {
  background-color: aquamarine;
  padding: 6px;
  border-radius: 4px;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list > * {
  background-color: rgb(230, 243, 255);
  margin: 5px;
  padding: 5px 20px;
  border-radius: var(--radius)
}

code {
  font-size: 12px;
}